@using EntityLayer.Concrete

@model User

<div class="modal fade" id="addUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addUserLabel">Kullanıcı Sil</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="DeleteUser">
                    <input type="hidden" asp-for="@Model.Id" />
                   <h3>@Model.Name isimli Kullanıcıyı silmek istediğinize Eminmisiniz?</h3>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" data-save="modal">Sil</button>
            </div>
        </div>
    </div>
</div>
<script>
    // This code will be executed when the document is ready
    $(document).ready(function () {
        // Handle the click event of the "Kapat" button
        $('.modal-footer button[data-dismiss="modal"]').click(function () {
            // Close the modal dialog
            $('#addUser').modal('hide');
        });
    });
    // This code will be executed when the document is ready
    $(document).ready(function () {
        // Handle the click event of the close button ("X" button) in the modal header
        $('.modal-header button.close').click(function () {
            // Close the modal dialog
            $('#addUser').modal('hide');
        });
    });
</script>

