@using EntityLayer.Concrete
@model Appointment
@{
    ViewData["Title"] = "Toplantı Ekle";
}
<div class="modal-body">
    <form method="post" action="/Home/UpdateAppointment/@Model.AppointmentId" >
        <div class="form-group">
            <label>Toplantı Konusu</label>
            <input type="text" class="form-control" asp-for="Description"  id="description" placeholder="Lütfen Toplantı Tanımınızı Giriniz" autocomplete="off">
        </div>
        <div class="form-group">
            <label>Toplantı Tarihi</label>
            <input type="date" class="form-control" asp-for="AppointmentDate" id="dateInput" required>
        </div>
        <div class="form-group">
            <label>Toplantı Saati</label>
            <input type="time" class="form-control" asp-for="AppointmentTime" id="clockInput" aria-describedby="emailHelp" required>
        </div>
        <div class="form-group">
            <label></label>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Adjust the column width as needed -->
                        <button type="submit"  class="btn btn-primary w-100" id="AddMeeting">Güncelle</button>
                </div>
                <div class="col-md-6">
                    <!-- Adjust the column width as needed -->
                    <a href="/Home/Index" class="btn btn-danger w-100" id="close_btn1">İptal</a>
                </div>
            </div>
        </div>
        </div>
    </form>
</div>
